video {
  height: 200px;
  width: 250px;
}
#links {
  background-color: #0077b6;
  overflow: hidden;
}

.links-container {
  float: left;
  width: 100%;
  position: relative;
}

.links-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

.links-container ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}

.links-container ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

#links ul li a:hover {
  background-color: #000;
}

#personal {
  display: flex;
  justify-content: center;
  text-align: center;
}
#personal img {
  height: 100px;
  margin-top: 30px;
  border-radius: 80%;
}

.summary {
  display: flex;
  justify-content: center;
  text-align: center;
}

.education {
  display: flex;
  justify-content: center;
}

.skills {
  display: flex;
  justify-content: center;
}

.experiences {
  display: flex;
  justify-content: center;
}

#linkedin {
  background: #0E76A8;
	  border-radius: 20%;
	  color: #fff;
	  border-width: 1px;
	  border-style: solid;
	  border-color: #084461;
  font-size: 20px;
}

.origins {
  text-align: center;
  margin: auto;
}

.hobbies {
  text-align: center;
}

.wrapper-add-task {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: auto;
}
.add-task {
  border: #000 1px solid;
  padding: 10px;
  margin: auto;
}

.wrapper-tasks {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.tasks {
  border: #000 1px solid;
  padding-right: 25px;
}